# Created by https://www.toptal.com/developers/gitignore/api/flatpak
# Edit at https://www.toptal.com/developers/gitignore?templates=flatpak

### Flatpak ###
.flatpak-builder
build
build-dir
repo

# End of https://www.toptal.com/developers/gitignore/api/flatpak

### Python (fedora_flatpak_updater) ###
scripts/fedora_flatpak_updater/.venv
**/__pycache__/
.pytest_cache

# Workspace tools and git worktrees
.worktrees/
.superpowers/
